<div class="container">
  <div class="row">
    <div class="col">
      <h5>会員情報編集</h5>
      <%= form_with model: @customer, url: customers_path do |f| %>
      <div class="form-group">
        <table class="table-sm table-borderless">
          <%= render "form", f: f %>
          <tr>
            <td></td>
            <td><%= f.submit "編集内容を保存", class: "btn btn-success", style: "font-weigth: bold;" %></td>
            <td></td>
            <td><%= link_to "退会する", unsubscribe_customers_path, class: "btn btn-danger", style: "font-weigth: bold;" %></td>
          </tr>
        </table>
      </div>
      <% end %>
    </div>
  </div>
</div>