<div class="container">
  <div class="row">
    <div class="col d-flex justify-content-center align-items-center" style="background-image: url('<%= asset_path 'background.jpg' %>'); height: 80vh;">
      <h3 class="text-center">
      私たちは、お客様からのフィードバックを大切にし、</br>
      サービスの拡充を図っていきます。より多くの工具や部品を取り扱い、</br>
      お客様のあらゆるニーズに応えられるよう努めて参ります。</br>
      BisuMateは、皆様のプロジェクトを成功に導くためのパートナーであり続けることをお約束します。</h3>
    </div>
  </div>
</div>