<div class="container">
  <div class="row">
    <div class="col">
      <h4><strong>ジャンル一覧</strong></h4>
    </div>
  </div>

  <div class="row mt-5">
    <div class="col-6">
      <table class="table">
        <thead>
          <tr>
            <th>ジャンル</th>
            <th></th>
          </tr>
        </thead>
        <% @genres.each do |genre| %>
        <tbody>
          <tr>
            <td><%= genre.name %></td>
            <td><%= link_to "編集する", edit_admin_genre_path(genre), class: "btn btn-success btn-sm" %></td>
          </tr>
        </tbody>
        <% end %>
      </table>
      <%= paginate @genres %>
    </div>
  </div>
</div>